<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


	<bean id="customerService" class="edu.miu.cs.cs544.exercise13_1.CustomerService">
		<property name="customerDAO" ref="customerDAO" />
		<property name="emailSender" ref="emailSender" />
	</bean>
	<bean id="customerDAO"  class="edu.miu.cs.cs544.exercise13_1.CustomerDAO" />
	<bean id="emailSender"  class="edu.miu.cs.cs544.exercise13_1.EmailSender" />
	<bean id="mailAspect" class="edu.miu.cs.cs544.exercise13_1.mailAspect" />

	<context:component-scan base-package="edu.miu.cs.cs544.exercise13_1" />
	<context:annotation-config />
	<aop:aspectj-autoproxy />
<!--	<aop:config>-->
<!--		<aop:aspect id="mailAspectId" ref="mailAspect" />-->
<!--	</aop:config>-->

</beans>